#slide-menu{display: none !important;}
.for-ipad-mob{display: none;}
@media only screen and (max-width: 1280px){	
	.form-group.form-input-wrap{
		width: 74.7%;
	}
}
@media only screen and (max-width: 1140px){
/**	.logo-wrapper img.bottom-logo{
		display: none;
	}
	.mean-container .mean-bar , .mean-container .mean-nav{
		background: #fff;
	}
	#site-header.mean-container a.meanmenu-reveal {
	    color: #000;
	    width: auto;
	    font-size: 10px !important;
	    text-indent: 0;
	}
	.mean-container .mean-nav ul li a{
		color: #000;
	}
	#site-header.animate-fixed-header .logo-wrapper img {
	    margin-top: 0;
	    transform: translateZ(0px) scale(0.4, 0.4);
	}
	.logo-wrapper{
		top: -85px !important;
	}
	.mean-nav .container.pos-rel{
		padding:0;
	}
**/
	/** small navigation start here **/
	.mean-container .mean-bar{
		padding: 0;
	}
	.mean-container a.meanmenu-reveal{
		font-family: 'Gillsans';
	}
	#main-navigation{
		display: none;
	}	
	#site-header.mean-container a.meanmenu-reveal {
	    color: #AC9E94;
	    width: auto;
	    font-size: 10px !important;
	    text-indent: 0;
	}
	.mean-container .mean-bar , .mean-container .mean-nav{
		background: #fff;
	}
	#menu-mobile-menu {
     line-height: 3;
     margin-top: 30px;
     overflow-y: scroll;
    }
    #menu-mobile-menu .sub-menu {
	    line-height: 1;
	}	
	.mean-container .mean-nav ul li a{
		color: #000;
		text-align: center;
		font-size: 12px;
		letter-spacing: 0.12em;
	}
	.mean-nav .container.pos-rel{
		padding:0;
	}
	ul.sub-menu{
		overflow:auto;
	  -moz-box-shadow: 0 0 5px 4px #DDDDDD inset;
	  -webkit-box-shadow: 0 0 5px 4px #DDDDDD inset;
	  box-shadow:0 0 5px 4px #DDDDDD inset;	
	}
	.mean-container .mean-nav ul li  ul.sub-menu li:first-child{
		padding-top: 40px;
	}
	.mean-container .mean-nav ul li  ul.sub-menu li:last-child{
		padding-bottom: 40px;
	}
	
	.mean-container .mean-nav ul li  ul.sub-menu li{
		padding-top: 10px;
	}
	ul.sub-menu  li > ul.sub-menu{
		display: block !important;
  		-moz-box-shadow:none;
	  	-webkit-box-shadow:none;
	  	box-shadow:none;	
	  	padding: 0 !important;	
	}
	.mean-container .mean-nav ul li  ul.sub-menu  li > ul.sub-menu li:first-child, 
	.mean-container .mean-nav ul li ul.sub-menu  li > ul.sub-menu li:last-child,
	.mean-container .mean-nav ul li  ul.sub-menu  li > ul.sub-menu li{
		padding: 0;
	}

	.sub-menu .mean-expand{
		display: none !important;
	}
	.mean-container .mean-nav ul li a.mean-expand{
		background: none;
	}	
	.mean-container .mean-nav ul li a , .mean-container .mean-nav  ul.sub-menu  li > ul.sub-menu a{
		color: #AC9E94;
	}
	.mean-container .mean-nav  ul.sub-menu  li > a{
		color: #000;
	}
	.mean-expand::after{
		content:"";
		background:url('../images/mobile-arrow.png') no-repeat;
		width:16px;
		height:8px;
		position: absolute;
		left: 0;
		top: 33px;
		-webkit-transform: rotate(180deg); 
		-moz-transform: rotate(180deg); 
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-transition:all 0.3s ease 0s; 
		-moz-transition:all 0.3s ease 0s; 
		-ms-transition:all 0.3s ease 0s;
		transition:all 0.3s ease 0s;
	}	
	.mean-expand.mean-clicked::after{
		-webkit-transform: rotate(0deg); 
		-moz-transform: rotate(0deg); 
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);		
	}
	.mean-container .mean-nav ul li a.mean-expand:hover{
		background: none;
	}
	.mean-container .mean-nav ul li{
		padding: 10px 0;
	}
	.mean-container .mean-nav ul li ul.sub-menu li{
		padding-bottom: 0;
	}
	.meanmenu-book.pos-r {
	    color: #ac9e94;
	    display: block;
	    font-size: 9px;
	    font-weight: 700;
	    height: 22px;
	    line-height: 22px;
	    padding: 13px 13px 11px;
	    position: absolute;
	    right: 0;
	    text-decoration: none;
	    text-indent: 0;
	    top: 0;
	    z-index: 1;
	}
	.mobile-logo {
	    left: 50%;
	    position: absolute;
	    top: 7px;
	    transform: translateX(-50%);
	}
	/**change this for spacing**/
	.mean-container .mean-bar{
		min-height: 44px;
	}
	.mobile-logo img{
		display: block;
		margin: 0 auto;
		max-width: 27%;
		margin-top: 1px;
	}
	#site-header.mean-container a.meanmenu-reveal {
		padding-top: 11px;
		padding-left: 25px;	
	}
	.meanmenu-book.pos-r {
		padding-top: 12px;
		padding-right: 25px;
	}
	.mean-container .mean-nav{
		margin-top: 44px;
	}
	/**change this for spacing end**/
	/** small navigation end here **/	


	/**global changes**/
	#site-main {
	    margin-top: 44px;
	}	
	.detail-logo{
		display: none;
	}	
	.mean-nav .menu-header-menu-left-container > ul > li.menu-item > a + ul.sub-menu {
	    max-height: 400px;
	    overflow: scroll;
	}
	a.meanmenu-reveal.meanclose:after{
		background: url('../images/close.svg') no-repeat;
		content: "";
		width: 22px;
		height: 22px;
		display: block;
		position: absolute;
		top: 16px;
		left: 22px;
	}
	.leeu_logo {
	    top: 6px;
	}
	.leeu_logo img {
	    width: 51px;
	}
	.rel_wrap {
	    min-height: 70px;
	}
	.close_popup {
	    right: 20px;
	    top: 20px;
	}
}
@media only screen and (max-width: 1024px){
	* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
	body{
		-webkit-font-smoothing: antialiased;
	}
	.container {
	    padding: 0 25px;
	}
	.side-nav , .cht-wthr{
		display: none;
	}
	.side-nav-contain{
		text-align: center;
	}
	.side-nav-contain.fix-pos{
		position: static !important;
		width: auto;
	}
    [class*="col-"] {
        width: 100%;
        float: none;
        padding: 0;
    }
    .home #site-main, .page-template-template-hotel-listing #site-main, .leeu-restaurants-template-template-restaurantlisting #site-main{
		margin-top: 44px;
	}
	#footer {
	    margin-top: 50px;
	    padding-bottom: 35px;
	    padding-top: 36px;
	}
	.menu-footer-menu-right-container .pull-right{
		float: none;
	}
	#google_translate_element {
	    margin-bottom: 30px;
	}
	.trip-advisor-logo-wrapper {
	    margin-bottom: 0;
	}
	.menu-footer-menu-right-container {
	    margin-top: 30px;
	}		
    /**hotel page template**/
	 .intro-blurb {
	    font-size: 18px;  
	    padding-top: 34px;
	    padding-bottom: 20px; 	
	}
	.side-log-wrap {
	    margin-bottom: 0;
	    display: none;
	}
	h2, h1.ucase, .page-template-template-hotel-listing h2, .page-template-template-hotel-listing h1.ucase {
		font-size: 30px;
	}
	.listing-row {
	    padding-bottom: 0;
	    margin-bottom: 35px;
	    position: relative;
	}
	.page-template-template-hotel-listing .listing-row , .hotel-template-template-hotel .listing-row{
		margin-bottom: 60px;
	}

	.detail-row{
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.listing-row.no-page-link {
	    margin-bottom: 44px;
	    padding-bottom: 0;
	}	
	.desc-heading{
		margin-bottom: 5px;
	}
	.desc-content {
	    font-size: 18px;
	    letter-spacing: 0.01em;
	    line-height: 1.3;
	    margin-bottom: 25px;
	}
	.page-link {
	    bottom: 0;
	    margin: 0;
	    position: absolute;
	    z-index: 2;
	}
	.listing-box .text-center h2 {
	    margin-bottom: 20px;
	}
	/**restaurant template**/
	.hotel-template-template-restaurant	.side-nav-wrap{
		display: none;
	}
	/**global**/
	.for-desk{
		display: none;
	}
	.for-ipad-mob{
		display: block;
	}
	.detail-row{
		margin-left: 0;
		margin-right: 0;
	    text-align: center;
	}
	/***home page design***/
	 .flx{
		display: block;
	}
	.booking-form-object{
		margin-top: 0;
	}
	.customdotwrapper,.next,.prev{
		display: none;
	}
	.rm-pad-right,.rm-pad-left{
		padding: 0;
	}
	.owl-theme .owl-dots .owl-dot span{
		width: 7px;
		height: 7px;
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
		background: #222944;
	}
	.owl-theme .owl-dots .owl-dot span{
		background: #D7CFC5;
	}
	.owl-dots{
		text-align: center;
    	margin-bottom: 9px;
    	margin-top: 12px;		
	}
	.slider-text .slider-txt-head{
		font-size: 30px;
	}
	.slider-text .slider-txt-con{
		font-size: 14px;
	}
	.inner-detail-wrapper{
		opacity:1;
		position: static;
		display: block;
	}
	.inner-detail-content{
		opacity: 1;
		-webkit-transform:translateY(0); 
		-moz-transform:translateY(0); 
		-ms-transform:translateY(0);
		transform:translateY(0);
	}
	/**Home page**/
	.booking-object-form-row{
		text-align: center;
	}
	.booking-form-object {
		display: none;
	}	
	.booking-object-form-row > div:last-child{
		display: block;
		width: 204px;
		margin: 0 auto;
	}
	.booking-object-form-row .form-item{
		margin: 0;
	}
	.sliding-detail .content-part{
		margin-top: 0;
		text-transform: capitalize;
	}	
	.sliding-detail .inner-detail-content{
		text-align: center;
	}
	.sliding-detail.active-detail-slide{
		position: static;
	}
	.see-more-link a{
   		display: inline-block;
    	min-width: 132px;
    	position: relative;
    	text-transform: uppercase;		
	}
	.linking-wrap li.see-more-link a::after{
	    background: rgba(0, 0, 0, 0) url("../images/arrow-icon.png") no-repeat scroll 0 0;
	    content: "";
	    display: inline-block;
	    height: 10px;
	    margin-left: 15px;
	    right: 11px;
	    transform: translateY(1px) translateX(-8px);
	    transition: all 0.2s ease 0s;
	    width: 29px;
	    opacity:1;
	}	
	.linking-wrap li.see-more-link a:before{
		display: none;
	}	
	.pagination-slider, .mgt-topp{
    	margin-top: 70px;
	}
	.two-img-col > div:last-child{
		margin-top: 62px;
	}
	.gotoslidehead {
    	margin-bottom: 19px;
	}
	.sliding-detail .cstm-btn-wrapper a.cstm-btn:first-child {
	    margin-right: 10px;
	}
	.linking-wrap li.book-link a::before{
		display: none;
	}
	.linking-wrap li.see-more-link a, .linking-wrap li.book-link a {
	    min-width: 132px;
	    display: inline-block;
	    text-transform: uppercase;
	    position: relative;
	    border: 1px solid #c7beb6;
	    padding: 16px 0;
	}	
	.linking-wrap li.see-more-link a::after , .linking-wrap li.book-link a::after{
		background: rgba(0, 0, 0, 0) url("../images/arrow-icon.png") no-repeat scroll 0 0;
		content: "";
		display: inline-block;
		height: 10px;
		margin-left: 15px;
		right: 11px;
		-webkit-transform: translateY(1px) translateX(-8px);
		-moz-transform: translateY(1px) translateX(-8px);
		-ms-transform: translateY(1px) translateX(-8px);
		transform: translateY(1px) translateX(-8px);
		-webkit-transition: all 0.2s ease 0s;
		-moz-transition: all 0.2s ease 0s;
		-ms-transition: all 0.2s ease 0s;
		transition: all 0.2s ease 0s;
		width: 29px;
		opacity:1;
		position: static;
	}
	.linking-wrap li.see-more-link a:hover:after , .linking-wrap li.book-link a:hover:after{   
		 background: rgba(0, 0, 0, 0) url("../images/arrow-icon-hover.png") no-repeat scroll 0 0;
	    -webkit-transform: translateY(1px) translateX(0px);
	    -moz-transform: translateY(1px) translateX(0px);
	    -ms-transform: translateY(1px) translateX(0px);
	    transform: translateY(1px) translateX(0px);
	}		
	.linking-wrap li.see-more-link a:hover,.linking-wrap li.book-link a:hover{
   	 	color: #c19034;
   	 	border: 1px solid #c19034;
	}
	.linking-wrap li {
	    margin-left: 10px;
	}
	.linking-wrap li a{
		text-align: center;
	}	
	.inner-detail-content2{
		text-align: center;
	}
	.align_center{
		margin-bottom: 20px;
		margin-top: 0;
	}
	.two-img-col .content-part{
		margin-top: 20px;
	}
	.two-img-col .linking-wrap{ 
		margin-top: 19px;
	}
	.home-wine-wrap .desc-heading{
		margin-top: 20px;
	}
	.sliding-detail .linking-wrap{
		margin-top: 19px;
	}
	.sliding-detail .linking-wrap li.see-more-link a{
		padding-left: 0;
	}
	/**hotel page**/
	.no_slider_wrapper + div.booking-form-object{
		margin-top: 20px;
	}
	.sliding-detail .content-part{
		margin-top: 20px ;
	}	
	#footer
	{
		margin-top: 18px;
	}
	#site-main{
		padding-bottom: 50px;
	}
	/**room listing page**/
	.room-listing-page .img-desc {
	    margin-top: 0px;
	    position: absolute;
	    top: 10px;
	    font-size: 30px;
	    text-align: center;
	    width: 100%;
	}
	.two-img-col > div[class*="col-"]{
		position: relative;
	}

	.linking-wrap, .content-part {
	    margin-top: 30px;
	}
	.room-listing-page .banner-img {
	    padding-top: 80px;
	}
	.room-listing-page .side-log-wrap{
		margin-top: 0;
	}
	/** wine page**/
	.leeu-wine-template-template-hotel-wine	.see_option_wrapper{
		padding: 0 1px;
	}
	.leeu-wine-template-template-hotel-wine	 .linking-wrap{
		margin-top: 10px;
	}
	.leeu-wine-template-template-hotel-wine .listing-row{
		padding-bottom: 0;
		margin-bottom: 60px;
	}
	.leeu-wine-template-template-hotel-wine .detail-row.listing-row{
		margin-bottom: 60px;
	}
	.map_img{
		display: none;
	}
	/**room detail page**/
	.hotel-template-template-room-php.single.single-hotel .three-img-col .col-4{
		width: 33.33%;
		float: left;
	} 
	/**home page**/
	.home .listing-row{
		padding-bottom: 0;
	}

	/**spa and wellness page**/
	.row.detail-row.spa-wellness-row .see_option_wrapper {
	    position: static;
	    padding: 0;
	    margin-top: 10px;
	}
	.spa-wellness-row .desc-content{
		min-height: auto;
	}
	.linking-wrap li.see-more-link a, .linking-wrap li.book-link a{
		padding-left: 5px;
		padding-right: 5px;
	}
	.container.error-404-page {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.mobile-only
	{
	    display: block;
	}
	.hotel_dtls ul li
	{
		border-color: #fff;
		color: #fff;
		padding-top: 0;
		padding-bottom: 0;
	}
	li.add_hover.special,
	.hotel_dtls ul li:hover::before
	{
		display: none;
	}
	.mobile-no-border
	{
	    border: none !important;
	}
	#footer .container
	{
		text-align: center;
	}
	.footer-menu-row .menu-footer-menu-right-container li {
	    margin-bottom: 30px;
	}

	.container.home-slider-container.hotel-slider-container.no_slider_wrapper {
	    margin-bottom: 40px;
	}
	.container.home-slider-container.hotel-slider-container.no_slider_wrapper .slider-text {
	    top: 15% !important;
	    transform: translateY(-15%) !important;
	}
	.hotel-location-name {
	    text-align: center;
	    margin-top: -18px;
	    margin-bottom: 18px;
	    text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 1px;
	}
	.newsleter-form {
 	   max-width: 540px;
    	margin: 0 auto;
	}
	.home-about-content{
		margin-top: 60px;
		font-size: 18px;
	}
	.half-layout-section .sub-heading {
	    margin-top: 20px;
	    margin-bottom: 30px;
	}
	.half-layout-section .sub-heading h2 {
	    font-size: 20px;
	}
	.hotel-template-template-hotel .intro-blurb {
 	   margin-bottom: 45px;
	}
	.home-heading {
	    margin-bottom: 20px;
	}
	.leeu-heading-wrap {
	    padding-top: 40px;
	    padding-bottom: 20px;
	}
	.hotel-info-desc{
		padding-right: 0;
	}
	.hotel-closed-reason{
		font-size: 19px;
	}
	.pagination-slider,.space-top{
    	margin-top: 70px;
	}
	.cstm-btn-wrapper.pull-right.text-center {
	    float: none;
	}
	.sliding-detail .linking-wrap{
		display: none;
	}
	.menu-head{
		margin-bottom: 20px;
	}
	.hotel-menu .img-desc{
		font-size: 15px;
		margin-top: 12px;
	}
	.hotel-menu .two-img-col > div:last-child {
		 margin-top: 0;
	}
	.hotel-menu .three-img-col .col-4.rm-pad{
		margin-bottom: 30px;
	}
	.hotel-menu .col-6,.leeu-discover-template-template-founder-and-team .col-6{
	    width: 50% !important;
	    float: left !important;
	}
	.hotel-menu .col-4 {
	    width: 33.33% !important;
	    float: left !important;
	}
	.content-part-heading{
		margin-top: 20px;
	}
	.home-hotel-wrap-3 {
	    margin-bottom: 80px;
	}
	.leeu-discover-template-template-founder-and-team .detail-row{
		margin: 0;
	}
	.leeu-discover-template-template-founder-and-team .mgb-30{
		margin-bottom: 20px;
	}
	.leeu-discover-template-template-founder-and-team .mgt-25 {
	    margin-top: 10px;
	}
	.leeu-discover-template-template-founder-and-team .desc-heading{
		font-size: 15px;
	}
	.row.press-cols-row
	{
		margin: 0;
	}
	.press-cols
	{
	    padding: 15px 0;
	}
	.row.press-detail-row
	{
		display: none;
	}
	.press-cols.has-slider-images a.main-link
	{
	    display: block;
	}
}

@media only screen and (max-width: 767px){
	.container{
		padding: 0 20px;
	}
	.for-mob{
		display: block;
	}
	.for-mob-hide{
		display: none !important;
	}
	.home .sliding-detail .content-part{
		margin-top: 5px;
		font-size: 13px;
	}
	.sliding-detail .content-part{
		font-size: 15px;
		margin-top: 16px;
	}
	.home-wine-wrap .desc-heading{
		margin-top: 16px;
	}
	.two-img-col .content-part{
		font-size: 15px;
	}
	.home-heading, .align_center{
		margin-bottom: 25px;
	}
	/**homepage**/
	.home-slider-container .slider-txt-con{
		display: none;
	}	
	.container.home-slider-container{
		padding: 0;
	}
	.slider-text.top-position{
		top: 50%;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%); 
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.home-about-content{
		font-size: 15px;
		margin-top: 50px;
	}
		
	/**hotel page template**/
	.banner-text .location-text , .banner-text h1{ 

	}
	.main_slider{
		margin-left: -20px;
		margin-right: -20px;
	}
	.intro-blurb {
	    font-size: 15px;
	    padding-top: 28px;
	}
	h2, h1.ucase {
		font-size: 21px;
	}
	.page-template-template-hotel-listing h2, .page-template-template-hotel-listing h1.ucase
	{
		font-size: 26px;
	}
	.desc-heading {
	    font-size: 17px;
	    font-weight: 500;
	}
	.desc-content,.content-part{
		font-size: 15px;
	}
	.linking-wrap {
    	margin-top: 18px;
	}	
	#footer,#footer a{
		font-size: 9px;
	}
	.form-group.form-input-wrap{
		width: 58%;
	}
	.page-template-template-hotel-listing .listing-row{
		padding-bottom: 13px;
	}
	.two-slide-carousel .desc-heading{
		font-size: 17px;
		min-height: auto;
		margin-top: 17px;
	}	
	.two-slide-carousel .owl-dots{
		margin-top: 2px;
	}
	.two-slide-carousel  .page-link{
		display: none;
	}
	.room-listing-contain > .listing-row{
		margin-bottom: 0;
	}
	.room-listing-contain > .listing-row > .scroll-anim > .col-8 > div:last-child{
		margin: 0;
	}
	.banner-text.pos-abs-top {
	    top: 100px;
	    padding: 0;
	}
	/** room listing page**/
	.room-listing-page .img-desc{
		font-size: 21px;
		top: -10px;
	}
	.room-listing-page .banner-img {
	    padding-top: 30px;
	}
	.linking-wrap, .content-part,.two-img-col .content-part  {
	    margin-top: 5px;
	}	
	.linking-wrap , .two-img-col .linking-wrap{
	    margin-top: 10px;
	}
	/**facilities page**/
	.summary_details p, .fasc_details p{
		font-size: 15px;
	}	
	.summary_details, .fasc_details{
		margin-top: 5px;
	}
	/**wine page**/
	.room-listing-contain
	.leeu-wine-template-template-hotel-wine .desc-content{
		text-align: left;
	}
	.leeu-wine-template-template-hotel-wine .listing-row{
		padding-bottom: 0;
		margin-bottom: 62px;
	}
	.leeu-wine-template-template-hotel-wine .detail-row.listing-row{
		margin-bottom: 62px;
	}	
	.leeu-wine-template-template-hotel-wine  .detail-row{
		margin: 5px 0;
	}
	.leeu-heading-wrap{
		padding: 20px 0;
	}
	.wine-name-date-wrapper {
    	margin: 10px 0 3px;
    	text-align: center;
	}
	.wine-name{
		font-size: 15px;
	}
	.wine-type {
    	margin-left: 5px;
	}
	.wine-section-description {
	    font-size: 15px;
	    margin: 13px 0 20px;
	}
	.listing-box .text-center h2.small_heading {
	    font-size: 21px;
	    margin-bottom: 0;
	}
	.wine-listing-contain > .listing-row{
		margin-bottom: 0;
	}		
	/**meeting and events**/
	.email_sec , .enq_sec{
		width: 100%;
		display: block;
		float: none;
	}	
	.email_sec{
		margin-bottom: 35px;
	}
	.name_opt , .enquiry_opt , .msg_opt{
		margin-bottom: 15px;
	}
	.form_field .inside_pd .email_sec .name_field input, .form_field .inside_pd .enq_sec .opt_field select, .message_field .textarea_field textarea{
		margin-top: 0;
	}
	.the_founder h2{
		font-size: 17px;
	}
	.hotel-template-template-meetings-events .listing-row{
		padding-bottom: 0;
		margin-bottom: 20px;
	}
	.the_founder{
		margin-bottom: 17px;
	}
	.form_field .inside_pd{
		width: 90%;
	}
	/**Explore page**/
	.follower h2{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 21px;			
	}
	.hotel-template-template-explore .leeu-heading-wrap{
		padding-top: 50px;
	}
	#instafeed > a {
	    display: block;
	    width: 100%;
	    margin-top: 15px;
	}	
	.hotel-template-template-facilities .listing-row{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	/**room detail page**/
	.hotel-template-template-room-php.single.single-hotel .three-img-col .col-4{
		width: 100%;
		float: left;
		margin-bottom: 30px;
	} 	
	.desc-content-two-col {
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 1;
	}	
	.hotel-template-template-room-php.single.single-hotel .col-9 .leeu-text{
		margin-top: 30px;
	}
	.hotel-template-template-room-php.single.single-hotel .hotel-menu .img-desc{
		margin-top: 5px;
	}
	.hotel-template-template-room-php.single.single-hotel .listing-row{
		padding-bottom: 0;
	}
	/*** gym page **/
	.hotel-template-template-gym .detail-row.mgt-0{
		margin-top: 0;
	}
	.session_rate{
		margin-top: 5px;
	}
	.price_value p, .listing_details{
		font-size: 15px;
	}
	.hotel-template-template-gym .detail-row{
		margin-top: 0;
	}
	.hotel-template-template-gym .listing-box.mgt-0 + div.detail-row{
		margin-bottom: 0;
	}
	/**spa and treatment pages**/
	.transformed_head h2 {
		font-size: 21px;
		margin-bottom: 20px;
	}
	.transformed .summer_heading h3{
		font-size: 18px;
	}
	.timing_func p, .transformed .summer_paragaraph p{
		font-size: 15px;
	}
	.timing_func p{
		text-align: left;
	}
	.service-wrapper {
    	margin-bottom: 20px;
	}
	.transformed {
	    margin-top: 15px;
	}
	/*** Anton Momberg Page***/
	.anton_paragaraph p{
		font-size: 15px;
	}
	.gallery_link{
		font-size: 5px;
	}
	.anton_paragaraph{
		margin-top: 16px;
	}
	.anton_locat{
		margin-top: 0;
		margin-bottom: 10px;
	}
	.leeu-discover-template .desc-heading{
		margin-bottom: 0;
	}
	.dwnldlink{
		text-align: left;		
	}
	.dwnldlink a{
		font-size: 11px;
	}
	.single_slider_wrapper + .detail-row{
		margin-top: 0;
	}
	.single_slider_wrapper.no_slider + .detail-row{
		margin-top: 16px;
	}
	h1{
		font-size: 30px;
	}
	.intro-blurb{
		padding-bottom: 40px;
	}
	/**Franschhoek**/
	.franschhoek_cat {
   	 margin-top: 10px;
	}
	.leeu-discover-template-template-location .listing-row{
		padding-bottom: 0;
	}
	/**home page**/
	.home-hotel-wrap.pagination-slider {
	    margin-top: 40px;
	}	
	/** DISCOVER LANDING **/
	.leeu-discover-template-template-discover .content-part-heading{
		font-size: 17px;
	}

	.leeu-discover-template-template-discover .sliding-detail .content-part{
		margin-top: 5px;
	}
	.leeu-discover-template-template-discover  .single_slider_wrapper.no_slider{
		margin-bottom: 15px;
	}
	.popup_wrapper {
	    width: 100%;
	    left: 0;
	    transform: translate(0);
	}
	.popup_wrapper .content-container .pd-l-r
	{
		padding: 0 15px;
	}
	.choose_hotel select,
	.choose_date input,
	.roomselect select
	{
		background-position-x: 99%;
	}
	.promo_grcode,
	.roomselect {
	    width: 48.3%;
	}
	.trip-advisor-logo-wrapper .cdsROW {
	    margin: 0 auto;
	}
	.desktop-only
	{
		display: none;
	}
	.social-links .facebook-icon svg{
		width: 10px;
		height: 18px;
	}
	.social-links .twitter-icon svg{
		width: 20px;
		vertical-align: bottom;
	}
	.social-links .instagram-icon svg{
		width: 17px;
		vertical-align: bottom;
	}
	.social-links li {
      margin-left: 9px;
   }
   .form-group input{
   	 font-size: 13px;
   }
   #footer{
   	padding-bottom: 35px;
   }
   .footer-menu-row .menu-footer-menu-right-container li:first-child{
   	  display: inline-block;
   }
   .footer-menu-row{
   		margin-top: 0px;
   }
   #menu-footer-menu-left li:first-child{
		display: block;
		margin-bottom: 12px;
	}
	ul#menu-footer-menu-right {
	    margin: 0 auto 20px;
	    max-width: 240px;
	}
	.footer-menu-row .menu-footer-menu-right-container li {
	    margin-bottom: 12px;
	}
	.footer-menu-row .menu-footer-menu-right-container li:nth-child(2) + li::before
	{
		content: "";
	}
	.footer-menu-row .menu-footer-menu-left-container li:first-child + li::before
	{
		content: "";
		padding: 0;
	}
	body.home .two-img-col .content-part,
	body.home .home-wine-wrap .inner-detail-content2 .content-part,
	.sliding-detail .content-part,
	.room-listing-contain .view-all-link,
	.hotel-template-template-roomlisting .inner-detail-wrapper .content-part,
	.room-listing-page .img-desc,
	.hotel-template-template-roomlisting .leeu-heading-wrap,
	.hotel-template-template-hotel .main_slider .banner-text
	{
	    display: none;
	}
	body.home .sliding-detail .linking-wrap,
	.sliding-detail .linking-wrap,
	.slide-links-list,
	.mobile-page-heading,
	.section-title-mobile,
	.leeu-restaurants-template-template-restaurantlisting .sliding-detail .content-part,
	.page-template-front-page .sliding-detail .content-part
	{
		display: block;
	}
	.hotel-template-template-hotel #site-header,
	.hotel-template-template-room #site-header,
	.hotel-template-template-roomlisting #site-header
	{
	    border-bottom: 1px solid #AC9E94;
    	box-shadow: none;
	}
	.room-listing-contain
	{
		margin-top: 20px;
	}
	.large-header-sub-heading {
	    font-size: 20px;
	}
}
@media only screen and (max-width: 687px){
	.promo_grcode,
	.roomselect {
	    width: 48%;
	}
}
@media only screen and (max-width: 585px){
	.promo_grcode,
	.roomselect {
	    width: 47.5%;
	}
}
@media only screen and (max-width: 500px){
	.error-404-page h1.ucase,
	.error-404-page .page-content p {
	    font-size: 20px;
	}
}
@media only screen and (max-width: 485px){
	.promo_grcode,
	.roomselect {
	    width: 47%;
	}
}
@media only screen and (max-width: 400px){
	.error-404-page h1.ucase,
	.error-404-page .page-content p {
	    font-size: 14px;
	}
	.promo_grcode,
	.roomselect {
	    width: 46.5%;
	}
}
@media only screen and (max-width: 375px){
	.form-group.form-input-wrap{
		width: 100%;
	}
	.form-group .submit-btn{
		margin-top: 15px;
	}
}
@media only screen and (max-width: 320px){
	.sliding-detail .cstm-btn-wrapper a.cstm-btn:first-child {
	    margin-right: 2px;
	}
}