#slide-menu{display: none !important;}
.for-ipad-mob{display: none;}
@media only screen and (max-width: 1280px){	
	.form-group.form-input-wrap{
		width: 74.7%;
	}
}
@media only screen and (max-width: 1140px){
/**	.logo-wrapper img.bottom-logo{
		display: none;
	}
	.mean-container .mean-bar , .mean-container .mean-nav{
		background: #fff;
	}
	#site-header.mean-container a.meanmenu-reveal {
	    color: #000;
	    width: auto;
	    font-size: 10px !important;
	    text-indent: 0;
	}
	.mean-container .mean-nav ul li a{
		color: #000;
	}
	#site-header.animate-fixed-header .logo-wrapper img {
	    margin-top: 0;
	    transform: translateZ(0px) scale(0.4, 0.4);
	}
	.logo-wrapper{
		top: -85px !important;
	}
	.mean-nav .container.pos-rel{
		padding:0;
	}
**/
	/** small navigation start here **/
	.mean-container .mean-bar{
		padding: 0;
	}
	.mean-container a.meanmenu-reveal{
		font-family: 'Gillsans';
	}
	#main-navigation{
		display: none;
	}	
	#site-header.mean-container a.meanmenu-reveal {
	    color: #AC9E94;
	    width: auto;
	    font-size: 10px !important;
	    text-indent: 0;
	}
	.mean-container .mean-bar , .mean-container .mean-nav{
		background: #fff;
	}
	#menu-mobile-menu {
     line-height: 3;
     margin-top: 30px;
     overflow-y: scroll;
    }
    #menu-mobile-menu .sub-menu {
	    line-height: 1;
	}	
	.mean-container .mean-nav ul li a{
		color: #000;
		text-align: center;
		font-size: 12px;
		letter-spacing: 0.12em;
	}
	.mean-nav .container.pos-rel{
		padding:0;
	}
	ul.sub-menu{
		overflow:auto;
	  -moz-box-shadow: 0 0 5px 4px #DDDDDD inset;
	  -webkit-box-shadow: 0 0 5px 4px #DDDDDD inset;
	  box-shadow:0 0 5px 4px #DDDDDD inset;	
	}
	.mean-container .mean-nav ul li  ul.sub-menu li:first-child{
		padding-top: 40px;
	}
	.mean-container .mean-nav ul li  ul.sub-menu li:last-child{
		padding-bottom: 40px;
	}
	
	.mean-container .mean-nav ul li  ul.sub-menu li{
		padding-top: 10px;
	}
	ul.sub-menu  li > ul.sub-menu{
		display: block !important;
  		-moz-box-shadow:none;
	  	-webkit-box-shadow:none;
	  	box-shadow:none;	
	  	padding: 0 !important;	
	}
	.mean-container .mean-nav ul li  ul.sub-menu  li > ul.sub-menu li:first-child, 
	.mean-container .mean-nav ul li ul.sub-menu  li > ul.sub-menu li:last-child,
	.mean-container .mean-nav ul li  ul.sub-menu  li > ul.sub-menu li{
		padding: 0;
	}

	.sub-menu .mean-expand{
		display: none !important;
	}
	.mean-container .mean-nav ul li a.mean-expand{
		background: none;
	}	
	.mean-container .mean-nav ul li a , .mean-container .mean-nav  ul.sub-menu  li > ul.sub-menu a{
		color: #AC9E94;
	}
	.mean-container .mean-nav  ul.sub-menu  li > a{
		color: #000;
	}
	.mean-expand::after{
		content:"";
		background:url('../images/mobile-arrow.png') no-repeat;
		width:16px;
		height:8px;
		position: absolute;
		left: 0;
		top: 33px;
		-webkit-transform: rotate(180deg); 
		-moz-transform: rotate(180deg); 
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		-webkit-transition:all 0.3s ease 0s; 
		-moz-transition:all 0.3s ease 0s; 
		-ms-transition:all 0.3s ease 0s;
		transition:all 0.3s ease 0s;
	}	
	.mean-expand.mean-clicked::after{
		-webkit-transform: rotate(0deg); 
		-moz-transform: rotate(0deg); 
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);		
	}
	.mean-container .mean-nav ul li a.mean-expand:hover{
		background: none;
	}
	.mean-container .mean-nav ul li{
		padding: 10px 0;
	}
	.mean-container .mean-nav ul li ul.sub-menu li{
		padding-bottom: 0;
	}
	.meanmenu-book.pos-r {
	    color: #ac9e94;
	    display: block;
	    font-size: 9px;
	    font-weight: 700;
	    height: 22px;
	    line-height: 22px;
	    padding: 13px 13px 11px;
	    position: absolute;
	    right: 0;
	    text-decoration: none;
	    text-indent: 0;
	    top: 0;
	    z-index: 1;
	}
	.mobile-logo {
	    left: 50%;
	    position: absolute;
	    top: 7px;
	    transform: translateX(-50%);
	}
	/**change this for spacing**/
	.mean-container .mean-bar{
		min-height: 44px;
	}
	.mobile-logo img{
		display: block;
		margin: 0 auto;
		max-width: 27%;
		margin-top: 1px;
	}
	#site-header.mean-container a.meanmenu-reveal {
		padding-top: 11px;
		padding-left: 25px;	
	}
	.meanmenu-book.pos-r {
		padding-top: 12px;
		padding-right: 25px;
	}
	.mean-container .mean-nav{
		margin-top: 44px;
	}
	/**change this for spacing end**/
	/** small navigation end here **/	


	/**global changes**/
	#site-main {
	    margin-top: 44px;
	}	
	.detail-logo{
		display: none;
	}	
	.mean-nav .menu-header-menu-left-container > ul > li.menu-item > a + ul.sub-menu {
	    max-height: 400px;
	    overflow: scroll;
	}
	a.meanmenu-reveal.meanclose:after{
		background: url('../images/close.svg') no-repeat;
		content: "";
		width: 22px;
		height: 22px;
		display: block;
		position: absolute;
		top: 16px;
		left: 22px;
	}
	.leeu_logo {
	    top: 6px;
	}
	.leeu_logo img {
	    width: 51px;
	}
	.rel_wrap {
	    min-height: 70px;
	}
	.close_popup {
	    right: 20px;
	    top: 20px;
	}
}
@media only screen and (max-width: 767px){
	.container{
		padding: 0 20px;
	}
	.for-mob{
		display: block;
	}
	.for-mob-hide{
		display: none !important;
	}
	.home .sliding-detail .content-part{
		margin-top: 5px;
		font-size: 13px;
	}
	.sliding-detail .content-part{
		font-size: 15px;
		margin-top: 16px;
	}
	.home-wine-wrap .desc-heading{
		margin-top: 16px;
	}
	.two-img-col .content-part{
		font-size: 15px;
	}
	.home-heading, .align_center{
		margin-bottom: 25px;
	}
	/**homepage**/
	.home-slider-container .slider-txt-con{
		display: none;
	}	
	.container.home-slider-container{
		padding: 0;
	}
	.slider-text.top-position{
		top: 50%;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%); 
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.home-about-content{
		font-size: 15px;
		margin-top: 50px;
	}
		
	/**hotel page template**/
	.banner-text .location-text , .banner-text h1{ 

	}
	.main_slider{
		margin-left: -20px;
		margin-right: -20px;
	}
	.intro-blurb {
	    font-size: 15px;
	    padding-top: 28px;
	}
	h2, h1.ucase {
		font-size: 21px;
	}
	.page-template-template-hotel-listing h2, .page-template-template-hotel-listing h1.ucase
	{
		font-size: 26px;
	}
	.desc-heading {
	    font-size: 17px;
	    font-weight: 500;
	}
	.desc-content,.content-part{
		font-size: 15px;
	}
	.linking-wrap {
    	margin-top: 18px;
	}	
	#footer,#footer a{
		font-size: 9px;
	}
	.form-group.form-input-wrap{
		width: 58%;
	}
	.page-template-template-hotel-listing .listing-row{
		padding-bottom: 13px;
	}
	.two-slide-carousel .desc-heading{
		font-size: 17px;
		min-height: auto;
		margin-top: 17px;
	}	
	.two-slide-carousel .owl-dots{
		margin-top: 2px;
	}
	.two-slide-carousel  .page-link{
		display: none;
	}
	.room-listing-contain > .listing-row{
		margin-bottom: 0;
	}
	.room-listing-contain > .listing-row > .scroll-anim > .col-8 > div:last-child{
		margin: 0;
	}
	.banner-text.pos-abs-top {
	    top: 100px;
	    padding: 0;
	}
	/** room listing page**/
	.room-listing-page .img-desc{
		font-size: 21px;
		top: -10px;
	}
	.room-listing-page .banner-img {
	    padding-top: 30px;
	}
	.linking-wrap, .content-part,.two-img-col .content-part  {
	    margin-top: 5px;
	}	
	.linking-wrap , .two-img-col .linking-wrap{
	    margin-top: 10px;
	}
	/**facilities page**/
	.summary_details p, .fasc_details p{
		font-size: 15px;
	}	
	.summary_details, .fasc_details{
		margin-top: 5px;
	}
	/**wine page**/
	.room-listing-contain
	.leeu-wine-template-template-hotel-wine .desc-content{
		text-align: left;
	}
	.leeu-wine-template-template-hotel-wine .listing-row{
		padding-bottom: 0;
		margin-bottom: 62px;
	}
	.leeu-wine-template-template-hotel-wine .detail-row.listing-row{
		margin-bottom: 62px;
	}	
	.leeu-wine-template-template-hotel-wine  .detail-row{
		margin: 5px 0;
	}
	.leeu-heading-wrap{
		padding: 20px 0;
	}
	.wine-name-date-wrapper {
    	margin: 10px 0 3px;
    	text-align: center;
	}
	.wine-name{
		font-size: 15px;
	}
	.wine-type {
    	margin-left: 5px;
	}
	.wine-section-description {
	    font-size: 15px;
	    margin: 13px 0 20px;
	}
	.listing-box .text-center h2.small_heading {
	    font-size: 21px;
	    margin-bottom: 0;
	}
	.wine-listing-contain > .listing-row{
		margin-bottom: 0;
	}		
	/**meeting and events**/
	.email_sec , .enq_sec{
		width: 100%;
		display: block;
		float: none;
	}	
	.email_sec{
		margin-bottom: 35px;
	}
	.name_opt , .enquiry_opt , .msg_opt{
		margin-bottom: 15px;
	}
	.form_field .inside_pd .email_sec .name_field input, .form_field .inside_pd .enq_sec .opt_field select, .message_field .textarea_field textarea{
		margin-top: 0;
	}
	.the_founder h2{
		font-size: 17px;
	}
	.hotel-template-template-meetings-events .listing-row{
		padding-bottom: 0;
		margin-bottom: 20px;
	}
	.the_founder{
		margin-bottom: 17px;
	}
	.form_field .inside_pd{
		width: 90%;
	}
	/**Explore page**/
	.follower h2{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 21px;			
	}
	.hotel-template-template-explore .leeu-heading-wrap{
		padding-top: 50px;
	}
	#instafeed > a {
	    display: block;
	    width: 100%;
	    margin-top: 15px;
	}	
	.hotel-template-template-facilities .listing-row{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	/**room detail page**/
	.hotel-template-template-room-php.single.single-hotel .three-img-col .col-4{
		width: 100%;
		float: left;
		margin-bottom: 30px;
	} 	
	.desc-content-two-col {
	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 1;
	}	
	.hotel-template-template-room-php.single.single-hotel .col-9 .leeu-text{
		margin-top: 30px;
	}
	.hotel-template-template-room-php.single.single-hotel .hotel-menu .img-desc{
		margin-top: 5px;
	}
	.hotel-template-template-room-php.single.single-hotel .listing-row{
		padding-bottom: 0;
	}
	/*** gym page **/
	.hotel-template-template-gym .detail-row.mgt-0{
		margin-top: 0;
	}
	.session_rate{
		margin-top: 5px;
	}
	.price_value p, .listing_details{
		font-size: 15px;
	}
	.hotel-template-template-gym .detail-row{
		margin-top: 0;
	}
	.hotel-template-template-gym .listing-box.mgt-0 + div.detail-row{
		margin-bottom: 0;
	}
	/**spa and treatment pages**/
	.transformed_head h2 {
		font-size: 21px;
		margin-bottom: 20px;
	}
	.transformed .summer_heading h3{
		font-size: 18px;
	}
	.timing_func p, .transformed .summer_paragaraph p{
		font-size: 15px;
	}
	.timing_func p{
		text-align: left;
	}
	.service-wrapper {
    	margin-bottom: 20px;
	}
	.transformed {
	    margin-top: 15px;
	}
	/*** Anton Momberg Page***/
	.anton_paragaraph p{
		font-size: 15px;
	}
	.gallery_link{
		font-size: 5px;
	}
	.anton_paragaraph{
		margin-top: 16px;
	}
	.anton_locat{
		margin-top: 0;
		margin-bottom: 10px;
	}
	.leeu-discover-template .desc-heading{
		margin-bottom: 0;
	}
	.dwnldlink{
		text-align: left;		
	}
	.dwnldlink a{
		font-size: 11px;
	}
	.single_slider_wrapper + .detail-row{
		margin-top: 0;
	}
	.single_slider_wrapper.no_slider + .detail-row{
		margin-top: 16px;
	}
	h1{
		font-size: 30px;
	}
	.intro-blurb{
		padding-bottom: 40px;
	}
	/**Franschhoek**/
	.franschhoek_cat {
   	 margin-top: 10px;
	}
	.leeu-discover-template-template-location .listing-row{
		padding-bottom: 0;
	}
	/**home page**/
	.home-hotel-wrap.pagination-slider {
	    margin-top: 40px;
	}	
	/** DISCOVER LANDING **/
	.leeu-discover-template-template-discover .content-part-heading{
		font-size: 17px;
	}

	.leeu-discover-template-template-discover .sliding-detail .content-part{
		margin-top: 5px;
	}
	.leeu-discover-template-template-discover  .single_slider_wrapper.no_slider{
		margin-bottom: 15px;
	}
	.popup_wrapper {
	    width: 100%;
	    left: 0;
	    transform: translate(0);
	}
	.popup_wrapper .content-container .pd-l-r
	{
		padding: 0 15px;
	}
	.choose_hotel select,
	.choose_date input,
	.roomselect select
	{
		background-position-x: 99%;
	}
	.promo_grcode,
	.roomselect {
	    width: 48.3%;
	}
	.trip-advisor-logo-wrapper .cdsROW {
	    margin: 0 auto;
	}
	.desktop-only
	{
		display: none;
	}
	.social-links .facebook-icon svg{
		width: 10px;
		height: 18px;
	}
	.social-links .twitter-icon svg{
		width: 20px;
		vertical-align: bottom;
	}
	.social-links .instagram-icon svg{
		width: 17px;
		vertical-align: bottom;
	}
	.social-links li {
      margin-left: 9px;
   }
   .form-group input{
   	 font-size: 13px;
   }
   #footer{
   	padding-bottom: 35px;
   }
   .footer-menu-row .menu-footer-menu-right-container li:first-child{
   	  display: inline-block;
   }
   .footer-menu-row{
   		margin-top: 0px;
   }
   #menu-footer-menu-left li:first-child{
		display: block;
		margin-bottom: 12px;
	}
	ul#menu-footer-menu-right {
	    margin: 0 auto 20px;
	    max-width: 240px;
	}
	.footer-menu-row .menu-footer-menu-right-container li {
	    margin-bottom: 12px;
	}
	.footer-menu-row .menu-footer-menu-left-container li:first-child + li::before
	{
		content: "";
		padding: 0;
	}
	body.home .two-img-col .content-part,
	body.home .home-wine-wrap .inner-detail-content2 .content-part,
	.sliding-detail .content-part,
	.room-listing-contain .view-all-link,
	.hotel-template-template-roomlisting .inner-detail-wrapper .content-part,
	.room-listing-page .img-desc,
	.leeu-heading-wrap,
	.hotel-template-template-hotel .main_slider .banner-text
	{
	    display: none;
	}
	body.home .sliding-detail .linking-wrap,
	.sliding-detail .linking-wrap,
	.slide-links-list,
	.mobile-page-heading,
	.section-title-mobile,
	.leeu-restaurants-template-template-restaurantlisting .sliding-detail .content-part,
	.page-template-front-page .sliding-detail .content-part
	{
		display: block;
	}
	/*.hotel-template-template-hotel #site-header,
	.hotel-template-template-room #site-header,
	.hotel-template-template-roomlisting #site-header,*/
	#site-header
	{
	    border-bottom: 1px solid #AC9E94;
    	box-shadow: none;
	}
	.room-listing-contain
	{
		margin-top: 20px;
	}
	.large-header-sub-heading {
	    font-size: 20px;
	}
}
@media only screen and (max-width: 687px){
	.promo_grcode,
	.roomselect {
	    width: 48%;
	}
}
@media only screen and (max-width: 585px){
	.promo_grcode,
	.roomselect {
	    width: 47.5%;
	}
}
@media only screen and (max-width: 500px){
	.error-404-page h1.ucase,
	.error-404-page .page-content p {
	    font-size: 20px;
	}
}
@media only screen and (max-width: 485px){
	.promo_grcode,
	.roomselect {
	    width: 47%;
	}
}
@media only screen and (max-width: 400px){
	.error-404-page h1.ucase,
	.error-404-page .page-content p {
	    font-size: 14px;
	}
	.promo_grcode,
	.roomselect {
	    width: 46.5%;
	}
}
@media only screen and (max-width: 375px){
	.form-group.form-input-wrap{
		width: 100%;
	}
	.form-group .submit-btn{
		margin-top: 15px;
	}
}
@media only screen and (max-width: 320px){
	.sliding-detail .cstm-btn-wrapper a.cstm-btn:first-child {
	    margin-right: 2px;
	}
	.linking-wrap li.see-more-link a, .linking-wrap li.book-link a
	{
		max-width: 130px;
	}
}